{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'navigation.css' %}"
      rel="stylesheet"
      type="text/css"
      media="all"
    />
    <link
      href="{% static 'styles.css' %}"
      rel="stylesheet"
      type="text/css"
      media="all"
      s
    />
    <title>Test</title>
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="nav-links">
          <div class="nav-link">
            <a href="{% url 'polls:index' %}">Home</a>
          </div>
          <div class="nav-link">
            <a href="{% url 'polls:results' question_id=1 %}">Breakfast</a>
          </div>
          <div class="nav-link">
            <a href="{% url 'polls:results' question_id=2 %}">Lunch</a>
          </div>
          <div class="nav-link">
            <a href="{% url 'polls:results' question_id=3 %}">Dinner</a>
          </div>
        </div>
        <div class="nav-title">
          <h1>Meal Voting</h1>
        </div>
      </div>
    </nav>
    <main>
      <div class="body-container">
        <div class="body-graph-container">
          <div class="body-graph">{{bf_graph|safe}}</div>
          <div class="body-graph">{{ln_graph|safe}}</div>
          <div class="body-graph">{{dn_graph|safe}}</div>
        </div>
        <div class="body-content"><h1>Hi</h1></div>
      </div>
    </main>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
